.parcel {
     -fx-background-position: center;
     -fx-background-size: 100%;
     -fx-background-repeat: no-repeat;
}

.thailandpost {
    -fx-background-image: url("../img/THAIPOST-logo.jpg");
}
.kerry {
    -fx-background-image: url("../img/KERRY-logo.jpg");
}
.dhl {
    -fx-background-image: url("../img/DHL-logo.jpg");
}

.status-image {
     -fx-background-position: center;
     -fx-background-size: 100%;
     -fx-background-repeat: no-repeat;
}

.accepted {
    -fx-background-image: url("../img/status/status1.png");
}
.transport {
    -fx-background-image: url("../img/status/status2.png");
}
.delivery {
    -fx-background-image: url("../img/status/status3.png");
}
.success {
    -fx-background-image: url("../img/status/status4.png");
}
.unsuccess {
    -fx-background-image: url("../img/status/status5.png");
}