.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-text-fill: WHITE;
}
.jfx-text-field{
    -jfx-label-float: true;
    -jfx-unfocus-color: #aaa;
    -jfx-focus-color: #ed1c24;
}

.jfx-list-view {
    -fx-background-color: #aaa;
    -jfx-vertical-gap: 10;
    -jfx-expanded: true;
}

#trackingListView .jfx-list-cell {
    -fx-pref-height: 100;
}