.AboutPic{
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}
#nathachaiPic{
    -fx-background-image: url("img/nathachai.jpg");
}
#supakitPic{
    -fx-background-image: url("img/supakit.jpg");
}
#natchayaPic{
    -fx-background-image: url("img/natchaya.jpg");
}
#siravitPic{
    -fx-background-image: url("img/siravit.jpg");
}
#kittiwatPic{
    -fx-background-image: url("img/kittiwat.jpg");
}