.parcel {
     -fx-background-position: center;
     -fx-background-size: 100%;
     -fx-background-repeat: no-repeat;
     -fx-background-image: url("img/THAIPOST-logo.jpg");
}

.thailandpost {
    -fx-background-image: url("img/THAIPOST-logo.jpg");
}
.kerry {
    -fx-background-image: url("img/KERRY-logo.jpg");
}
.dhl {
    -fx-background-image: url("img/DHL-logo.jpg");
}